[submodule "lisp/plugins/company-mode"]
	path = lisp/plugins/company-mode
	url = https://github.com/company-mode/company-mode
[submodule "lisp/plugins/auto-complete"]
	path = lisp/plugins/auto-complete
	url = https://github.com/auto-complete/auto-complete
[submodule "lisp/plugins/popup"]
	path = lisp/plugins/popup
	url = https://github.com/auto-complete/popup-el.git
[submodule "lisp/plugins/python-mode"]
	path = lisp/plugins/python-mode
	url = https://github.com/emacsmirror/python-mode.git
[submodule "lisp/plugins/autopair"]
	path = lisp/plugins/autopair
	url = https://github.com/capitaomorte/autopair.git
[submodule "lisp/plugins/flymake-cursor"]
	path = lisp/plugins/flymake-cursor
	url = https://github.com/illusori/emacs-flymake-cursor.git
[submodule "lisp/plugins/company-math"]
	path = lisp/plugins/company-math
	url = https://github.com/vspinu/company-math.git
